{% if page.github %}
<div class="txt-center">
    <a class="github-button" href="https://github.com/{{site.footer-links.github}}/{{page.github}}/fork" data-icon="octicon-repo-forked" data-size="large" data-show-count="true" aria-label="Fork  {{site.footer-links.github}}/{{page.github}} on GitHub">Fork</a>
    <a class="github-button" href="https://github.com/{{site.footer-links.github}}/{{page.github}}" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star {{site.footer-links.github}}/{{page.github}} on GitHub">Star</a>
    <a class="github-button" href="https://github.com/{{site.footer-links.github}}/{{page.github}}/archive/master.zip" data-icon="octicon-cloud-download" data-size="large" aria-label="Download {{site.footer-links.github}}/{{page.github}} on GitHub">Download</a>
</div>
{% endif %}