<div class="adarea">
    <div align="center">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- square_ads -->
        <ins class="adsbygoogle"
             style="display:inline-block;width:80px;height:80px"
             data-ad-client="ca-pub-4337241726293598"
             data-ad-slot="3327134282"></ins>
        <script>
     (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
    <div id="titleBar">
    <span>
        <h1 align="center">{{ page.title }}</h1>
    </span>
    </div>
    <p align="center"> {% include post-icons.html %}</p>
</div>