<div class="adarea">
    <!--<div align="center">-->
        <!--<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>-->
        <!--&lt;!&ndash; square_ads &ndash;&gt;-->
        <!--<ins class="adsbygoogle"-->
             <!--style="display:inline-block;width:120px;height:120px"-->
             <!--data-ad-client="ca-pub-4337241726293598"-->
             <!--data-ad-slot="3327134282"></ins>-->
        <!--<script>-->
     <!--(adsbygoogle = window.adsbygoogle || []).push({});-->
        <!--</script>-->
    <!--</div>-->
    <div align="center">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class="adsbygoogle"
         style="display:block; text-align:center;width:120px;height:120px;"
         data-ad-layout="in-article"
         data-ad-format="fluid"
         data-ad-client="ca-pub-4337241726293598"
         data-ad-slot="7760438976"></ins>
    <script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script></div>
    <div id="titleBar">
    <span>
        <h1 align="center">{{ page.title }}</h1>
    </span>
    </div>
    <p align="center"> {% include post-icons.html %}</p>
</div>