<div id="tabdefault" class="tabcontent">
    <h3>Thanks for having my blog</h3>
    <p>Here I do blogging because,</p>
    <p>I like to share something which 've learned.</p>
    <p>I love to express my flavour of words to the world.</p>
    <p>Also I am organizing my self :P</p>
    <p>Enjoy Learning . . .</p>
    <img src="images/itachi_welcome.png" width="200px"/>
    <p>Knowledge and awareness are vague, and perhaps better called illusion</p>
    <p style="color: red;">- Uchiha Itachi</p>
</div>
<br><br><br>