.share-bar {
    font-size: 15px;
    width: 50%;
    margin-bottom: 0px;
    padding: 1px;
    color: black;
    text-align: center;
    display: inline-block;
    h1,h2,h3,h4 {
        color: red;
        font-family: 'Charmonman', cursive;
    }
}

/* Title */
#share-bar h4 {
    margin-bottom: 7px;
    font-weight: 375;
    text-align: center;
    color: coral;
}

/* All buttons */
.share_button {
    display:inline-block;
    padding-left: 25px;
}

/* Each button */
.share-button {
    margin: 0px;
    margin-bottom: 7px;
    margin-right: 2px;
    border: 1px solid #D3D6D2;
    padding: 5px 10px 5px 10px;
}
.share_button_i {
    color: black;
    &:hover {
        color: red;
    }
}