---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans');
//


html {
  position: relative;
  min-height: 100%;
}

body {
    font: 0.8rem/1.6 'Merriweather Sans', sans-serif;
    color: $darkGray;
    width: 100%;
    margin-bottom: 60px;
}

code {
    width: 100%;
}

.left{
    float: left;
}

.right{
    float: right;
}

p.quickNote
{
     background-color: #ffefef;
     border-left: solid 2px #d2372a;
     line-height: 18px;
     overflow: hidden;
     padding: 12px;
     color: #d2372a;
     white-space: pre-wrap;
}

p.noteHeader
{
     background-color: #555;
     border-left: solid 8px #900;
     line-height: 18px;
     overflow: hidden;
     padding: 12px;
     color: #fff;
}

p.noteText
{
     background-color: #555;
     padding: 12px;
     color: white;
     white-space: pre-wrap;
}

p.noteQuote
{
     background-color: #555;
     padding: 12px;
     color: white;
     white-space: pre-wrap;
     text-align: center;
}

mark {
    background-color: #ffefef;
    font-family: monospace;
    line-height: 25px;
    border-radius: 4px;
    padding: 3px 6px;
    color: #d2372a;
}

.container a, .qandacontainer a {
      border-radius: 3px;
    	padding: 1px 1px 1px;
    	color: #a00;
    	padding-left: 5px;
    	padding-right: 5px;
    	font-weight: bold;
      cursor: pointer;
      &:hover{
      text-decoration: underline;
      color: #a00;
      }
  }

img.git{
    background-image: url('/images/git.svg');
    width  : 42;
    height : 42;
}

#titleBar {
  overflow: hidden;
  padding-top: 60px;
  width : 100%;
  text-align: center;
  background: #414141;
  display: table;
  span {
    display: table-cell;
    vertical-align: middle;
  }
  h1 {
    font-size: 1rem;
    color: white;
  }
  p{
      color: white;
  }
}

#rcorners1 {
      background: #E9CC81;
      padding: 20px;
      width: 100%;
      height: 30%;
}

.imgbrd {
        border: 1px solid #902f3f;
        width : auto;
        padding: 20px;
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
        clear: both;
        margin-bottom: 40px;
}

.contentBorder {
        border: 1px solid #902f3f;
        width : 50%;
        padding: 20px;
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
        clear: both;
        text-align: left;
}

kbd.imgtitle{
	background: #902f3f;
    font-family: $merriWeather;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
  	padding: 4px;
  	color: white;
    float: left;
    display: block;
}
p.alcenter{
    align: center;
}
.last{
    clear: right;
}

.txtContainer{
  padding-right: 35px;
  padding-left: 35px;
  h1{
    font-size: 1.2rem;
  }
  h2{
      font-size: 1.15rem;
  }
  h3{
      font-size: 1.1rem;
  }
  h4{
      font-size: 1.05rem;
  }
  h5{
      font-size: 1rem;
  }
  h6{
      font-size: 0.95rem;
  }
  a, p, pre {
    font-size: 0.8rem;
  }
}

.commentContainer{
  margin: auto;
  margin-top: 0px;
  background: white;
  width: 99%;
  padding: 35px;
}
.container {
  margin: auto;
  border-color: #fff;
  border-style: solid;
  border-width: 0px 1px 10px 1px;
  background: white;
  max-width: 1200px;
  width: 75%;
  @include mobile {
    width: 100%;
  }
  a.post_link{
      &:hover, &:active {
        color: $coral;
      }
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $merriWeather;
  color: $darkerGray;
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 12px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: #ffbf00;
}
::selection {
  color: $black;
  background: #ffbf00;
}

.inv{
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.wrapper{
    max-width: calc(800px - (30px));
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    img{
        vertical-align: middle;
        display: inline-block;
        -webkit-filter: invert(1);
        filter: invert(1) brightness(70%);
        &:hover{
            filter: brightness(100%) invert(1);
        }
    }
    a{
        filter: brightness(70%);
        &:hover{
            filter: brightness(100%);
        }
    }
}
.wrapper-navBorder{
    height: 60px;
    border-style: solid;
    border-width: 1px 0px 1px 0px;
    background: #333;
    border-top: 5px solid #333;
    line-height: 54px;
    position: relative;
}


nav.masterTab {
    position: static;
    float: right;
    border: none;
    background-color: inherit;
    display: inline-block;
  a {
    margin-left: 0.4rem;
    font-size: 0.6rem;
    color: white;
    align: center;
    letter-spacing: 1px;
    padding: 5px;
  }
}

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 2em;
  border-bottom: none;
}

.post {

  .comments {
    margin-top: 7px;
  }

  .read-more {
    text-transform: lowercase;
    font-size: 11px;
  }
}

.adarea {
    width: 100%;
    height: auto;
    background-color: #414141;
    color: #aaa;
    i{
        color: #aaa;
    }
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #333;
    color: white;
    text-align: center;
    p{
        font-size: 0.6rem;
        padding-top: 0.6rem;
      }
}
.footer-container {
  width: auto;
  max-width: 680px;
  padding-top: 25px;
  margin: 5%;
}

i{
  border-radius: 50%;
  padding: 0.3em 0.3em;
  vertical-align: middle;
  position: relative;
  align: center;
  display: block;
}

.wrapper-svg {
    background: white;  /* fallback for old browsers */
    border-radius: 7px;
    border-color: #111;
        i{
        width: 40px;
        height: 40px;
        padding: 10px;
        &:hover{
            filter: invert(100%);
            -webkit-filter: invert(100%);
        }
    }

    h2{
        font-size: 20px;
    }
}

.svgBox
{
    padding: 15px 0;
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.txt-center {
    text-align: center;
    width: auto;
}



.txt-pad{
    padding-left: 37px;
    font-weight: bold;
}

// For hide
.dataframe{
    border: "1";
    td {
        border: 1px solid black;
        text-align: left;
        padding-left: 10px;
        padding-right: 10px;
    }
}

table.dataframe {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: auto;
    align: center;
}

th {
    border: 1px solid #000000;
    text-align: center;
    padding: 6px;
}

th{
     font-weight:bold;
     color: #902f3f;
}

.goToBtn{
    background: #cb2d3e; /* fallback for old browsers */
    border-radius: 1px;
    border: none;
    padding: 9px;
    color: white;
    &:hover, &:active {
        background: $coral;
        cursor: pointer;
    }
}

#myBottomBtn, #myBtn {
        position: fixed;
        font-size: 12px;
        border: none;
        outline: none;
        background-color: red;
        color: white;
        cursor: pointer;
        padding: 6px;
        border-radius: 3px;
        &:hover {
           background-color: #555;
         }
}

blockquote{
    width: 100%;
    margin: 1.8em .8em;
    padding: 0.1em 1em;
    color: #131;
    padding-left: 20px;
    font-size: 15px;
    min-height: 20px;
    background-color: #ebeef2;
    border-radius: 4px;
    display:inline-block;
    color: gray;
    &:hover{
        box-shadow: 5px 5px 5px 1px #aaa;
        color: #444;
    }
}

#myBottomBtn {
  display: none;
  bottom: 60px;
  right: 22px;
  z-index: 75;
}

#myBtn {
  display: none;
  bottom: 100px;
  right: 22px;
  z-index: 75;
}

#disqus_thread {
    overflow: hidden !important;
    display: inline;
}

//

button:focus {outline:0;}
.commentButton{
    background-color: #414141; /* Green */
    border: none;
    border-radius: 4px;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    a{
        color: white;
        font-family: $merriWeather;
    }
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
@import "post-icons";
@import "share-bar";
@import "board";
@import "output";
@import "tabs";
@import "star";
@import "article";
@import "qanda";
@import "profile";

.oneliner{
    font-family: 'Charmonman', cursive;
    font-weight: bold;
    text-align: center;
    font-size: 15px;
    color: #a1a105;
}

.gitHubTitle{
    font-family: 'Charmonman', cursive;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    background: -webkit-linear-gradient(to right, #6E48AA, #9D50BB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6E48AA, #9D50BB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gitHubBg{
      background: #fff;
}

.myAppsBg{
      background: #666;
}

.myAppsTitle{
    font-family: 'Charmonman', cursive;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    background: -webkit-linear-gradient(to right, #fff, #ff0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eee, #ff0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.slogan{
    margin: 5%;
    h6{
        font-family: $merriWeather;
        color: #912905;
    }
}

.timeline{
    display:block;
}

.profile {
    display:none;
}

.currentBtn{
    background: #333;
    color: white;
}
.cmnBtn{
    width: 24%;
    @include mobile {
        width: auto;
    }
    padding: 10px;
    align: center;
    border: solid 2px #333;
    cursor: pointer;
    display: inline-block;
}
.abtBtnContainer{
 padding: auto;
 display: inline-table;
 width: 100%;
 text-align:center;
 }
 .bold {
    font-weight: bold;
 }