---
layout: default
---
<br>
<article class="page">
  <div class="container">
  <button onclick="topFunction()" id="myBtn" title="Go to top">
    <i class="fa fa-arrow-up inv" aria-hidden="true"></i>
  </button>
  <button onclick="bottomFunction()" id="myBottomBtn" title="Go to bottom">
    <i class="fa fa-arrow-down inv" aria-hidden="true"></i>
  </button>
  <div id="titleBar">
    <span>
      <h1 align="center">{{ page.title }}</h1>
    </span>
  </div>
  <div class="entry">
    <div class="txtContainer">
    {{ content }}
    </div>
  </div>
  </div>
</article>
